# üìö Import Required Libraries

In [27]:
import pandas as pd                             # Data manipulation
from math import sqrt                           # Only import sqrt from math for correlation
import numpy as np                              # Numerical operations
import matplotlib.pyplot as plt                 # Plotting
#%matplotlib inline                              # Show plots inside Jupyter Notebook

# üìÅ Load Movie and Rating Datasets

In [28]:
movies_df = pd.read_csv('movies.csv')           # Load movie metadata
ratings_df = pd.read_csv('ratings.csv')         # Load user ratings
movies_df.head()                                # Show first few rows

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

# üßπ Extract and Clean Year from Movie Titles

In [29]:
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))', expand=False)      # Extract year with parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)', expand=False)           # Remove parentheses
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '', regex=True)   # Remove year from title
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())                   # Remove trailing whitespace
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

# üé≠ Split Genres into Lists

In [30]:
movies_df['genres'] = movies_df.genres.str.split('|')    # Split genres into lists
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

# üß¨ One-Hot Encode Genres

In [31]:
moviesWithGenres_df = movies_df.copy()
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# üßº Drop Irrelevant Columns

In [7]:
ratings_df = ratings_df.drop('timestamp', axis=1)
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

# ‚úçÔ∏è User Input for Content-Based Filtering

In [8]:
userInput = [
    {'title': 'Breakfast Club, The', 'rating': 5},
    {'title': 'Toy Story', 'rating': 3.5},
    {'title': 'Jumanji', 'rating': 2},
    {'title': 'Pulp Fiction', 'rating': 5},
    {'title': 'Akira', 'rating': 4.5}
]
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

# üîç Match Input with Movie IDs

In [33]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#print(inputId)
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', axis=1).drop('year', axis=1)
#Final input dataframe
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

# üß™ Filter Genre Info for Input Movies

In [34]:
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies = userMovies.reset_index(drop=True)
userGenreTable = userMovies.drop(['movieId', 'title', 'genres', 'year'], axis=1)   # Clean for matrix math
userGenreTable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# üßÆ Build User Profile (Weighted Genres)

In [35]:
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])               # Multiply genres by ratings
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
War                    0.0
Musical                0.0
Documentary            0.0
IMAX                   0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

# üß± Calculate Genre Weights for All Movies

In [12]:
genreTable = moviesWithGenres_df.set_index('movieId')
genreTable = genreTable.drop(['title', 'genres', 'year'], axis=1)
genreTable.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
genreTable.shape

(9742, 20)

# üßæ Compute Recommendation Scores

In [37]:
recommendationTable_df = (genreTable * userProfile).sum(axis=1) / userProfile.sum()
recommendationTable_df = recommendationTable_df.sort_values(ascending=False)
recommendationTable_df.head()

movieId
134853    0.734266
148775    0.685315
117646    0.678322
6902      0.678322
81132     0.671329
dtype: float64

# üèÜ Display Top Recommendations

In [14]:
movies_df.loc[movies_df['movieId'].isin(recommendationTable_df.head(20).keys())]

,movieId,title,genres,year
559,673,Space Jam,"[Adventure, Animation, Children, Comedy, Fanta...",1996
1390,1907,Mulan,"[Adventure, Animation, Children, Comedy, Drama...",1998
2250,2987,Who Framed Roger Rabbit?,"[Adventure, Animation, Children, Comedy, Crime...",1988
3460,4719,Osmosis Jones,"[Action, Animation, Comedy, Crime, Drama, Roma...",2001
4631,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002
5490,26340,"Twelve Tasks of Asterix, The (Les douze travau...","[Action, Adventure, Animation, Children, Comed...",1976
5819,32031,Robots,"[Adventure, Animation, Children, Comedy, Fanta...",2005
6047,40339,Chicken Little,"[Action, Adventure, Animation, Children, Comed...",2005
6448,51939,TMNT (Teenage Mutant Ninja Turtles),"[Action, Adventure, Animation, Children, Comed...",2007
6455,52287,Meet the Robinsons,"[Action, Adventure, Animation, Children, Comed...",2007
6879,62956,Futurama: Bender's Game,"[Action, Adventure, Animation, Comedy, Fantasy...",2008
7441,81132,Rubber,"[Action, Adventure, Comedy, Crime, Drama, Film...",2010
7550,85261,Mars Needs Moms,"[Action, Adventure, Animation, Children, Comed...",2011
8349,108540,Ernest & C√©lestine (Ernest et C√©lestine),"[Adventure, Animation, Children, Comedy, Drama...",2012
8357,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014
8597,117646,Dragonheart 2: A New Beginning,"[Action, Adventure, Comedy, Drama, Fantasy, Th...",2000
8806,130520,Home,"[Adventure, Animation, Children, Comedy, Fanta...",2015
8900,134853,Inside Out,"[Adventure, Animation, Children, Comedy, Drama...",2015
9169,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009
9282,157865,Ratchet & Clank,"[Action, Adventure, Animation, Children, Comed...",2016

# ü§ù Collaborative Filtering ‚Äì User Matching

In [39]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating  timestamp
0         1        1     4.0  964982703
16        1      296     3.0  964982967
320       4      296     1.0  945173350
422       4     1968     4.0  986934786
516       5        1     4.0  847434962

In [42]:
userSubsetGroup = userSubset.groupby(['userId'])
userSubsetGroup = sorted(userSubsetGroup, key=lambda x: len(x[1]), reverse=True)[:10000]

# üîó Compute Pearson Correlation

In [43]:
pearsonCorrelationDict = {}
for name, group in userSubsetGroup:
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    nRatings = len(group)
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    tempRatingList = temp_df['rating'].tolist()
    tempGroupList = group['rating'].tolist()
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList), 2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList), 2)/float(nRatings)
    Sxy = sum(i*j for i, j in zip(tempRatingList, tempGroupList)) - \
          sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy) if Sxx != 0 and Syy != 0 else 0
pearsonCorrelationDict.items()

dict_items([((91,), 0.43852900965351443), ((177,), 0.0), ((219,), 0.45124262819713973), ((274,), 0.716114874039432), ((298,), 0.9592712306918567), ((414,), 0.9376144618769914), ((474,), 0.11720180773462392), ((477,), 0.4385290096535153), ((480,), 0.7844645405527362), ((483,), 0.08006407690254357), ((599,), 0.7666866491579839), ((608,), 0.920736884379251), ((50,), 0.15713484026367722), ((57,), -0.7385489458759964), ((68,), 0.0), ((103,), 0.5222329678670935), ((135,), 0.8703882797784892), ((182,), 0.9428090415820635), ((202,), 0.5222329678670935), ((217,), 0.30151134457776363), ((226,), 0.9438798074485389), ((288,), 0.6005325641789633), ((307,), 0.9655810287305759), ((318,), 0.44486512077567225), ((322,), 0.5057805388588731), ((330,), 0.9035942578600878), ((357,), 0.5606119105813882), ((434,), 0.9864036607532465), ((448,), 0.30151134457776363), ((469,), 0.8164965809277261), ((561,), 0.5222329678670935), ((600,), 0.18442777839082938), ((606,), 0.9146591207600472), ((610,), -0.47140452079103173), ((18,), 1.0), ((19,), -0.5), ((21,), 0), ((45,), 0.5000000000000009), ((63,), -0.4999999999999982), ((64,), 0.0), ((66,), 0.5000000000000009), ((107,), -1.0), ((122,), 0.8660254037844387), ((132,), 1.0000000000000004), ((140,), 0.5), ((141,), 0), ((144,), 1.0), ((153,), 0.8660254037844379), ((156,), 0.1889822365046138), ((160,), 0.8660254037844402), ((166,), -0.6546536707079772), ((198,), 0.0), ((200,), 0.7559289460184552), ((201,), 0), ((232,), 0.6546536707079778), ((240,), -0.8660254037844386), ((249,), 0), ((266,), 0.5), ((275,), -0.4999999999999982), ((282,), -1.000000000000007), ((292,), -1.0000000000000018), ((294,), 0.5000000000000009), ((304,), 0.8660254037844356), ((305,), 1.0), ((313,), -0.4999999999999929), ((323,), 0.0), ((328,), -0.5000000000000002), ((353,), 0.8660254037844356), ((359,), 0.8660254037844448), ((372,), 0.142857142857144), ((373,), 0.866025403784439), ((380,), 0), ((381,), 0.6546536707079778), ((387,), -0.18898223650461649), ((391,), 0.8660254037844387), ((411,), 0.8660254037844356), ((425,), 0.8660254037844387), ((432,), -0.8660254037844386), ((462,), 0.8029550685469661), ((470,), 0.0), ((476,), -0.8660254037844402), ((484,), 0.7205766921228925), ((489,), 1.0), ((500,), 0), ((504,), 0), ((514,), 0), ((525,), 1.0), ((555,), 0.5000000000000009), ((559,), -0.5), ((560,), 0.9819805060619666), ((562,), 0.9999999999999858), ((570,), 0.8660254037844448), ((573,), 0.8660254037844264), ((590,), 0.9607689228305233), ((603,), 0.052414241836095235), ((604,), 0.0), ((605,), -0.7205766921228919), ((607,), 0.0), ((1,), -1.0), ((4,), 0), ((5,), 1.0), ((6,), -1.0), ((8,), 0), ((15,), 1.0), ((17,), 1.0), ((23,), -1.0), ((27,), -1.0), ((32,), 1.0), ((33,), 1.0), ((39,), 0), ((40,), 0), ((42,), 0), ((43,), -1.0), ((54,), 0), ((62,), 1.0), ((76,), 1.0), ((78,), 0), ((82,), -1.0), ((93,), -1.0), ((94,), 0), ((95,), -1.0), ((96,), 0), ((100,), 0), ((105,), 1.0), ((112,), 1.0), ((117,), 1.0), ((119,), 1.0), ((121,), 0), ((124,), 1.0), ((125,), 1.0), ((130,), 1.0), ((134,), 1.0), ((137,), -1.0), ((145,), -1.0), ((149,), 0), ((155,), -1.0), ((159,), -1.0), ((167,), -1.0), ((169,), 1.0), ((171,), 0), ((178,), 1.0), ((179,), 0), ((186,), 0), ((187,), 1.0), ((191,), 1.0), ((193,), 1.0), ((195,), 0), ((197,), 0), ((212,), 0), ((215,), 0), ((216,), -1.0), ((220,), 0), ((221,), 1.0), ((222,), 1.0), ((223,), -1.0), ((229,), 0), ((230,), 0), ((233,), 1.0), ((239,), 1.0), ((247,), -1.0), ((254,), 1.0), ((260,), 1.0), ((263,), -1.0), ((273,), -1.0), ((276,), 0), ((279,), 1.0), ((284,), 0), ((285,), 0), ((290,), 1.0), ((314,), -1.0), ((325,), 0), ((332,), 0), ((334,), 1.0), ((336,), 1.0), ((339,), -1.0), ((346,), 0), ((347,), 1.0), ((354,), 0), ((367,), 0), ((368,), 0), ((370,), 0), ((382,), 1.0), ((385,), 0), ((395,), 0), ((399,), 1.0), ((420,), 0), ((422,), -1.0), ((424,), 0), ((426,), -1.0), ((428,), 0), ((436,), 0), ((443,), 0), ((446,), 1.0), ((447,), 0), ((453,), 0), ((458,), 0), ((460,), -1.0), ((468,), -1.0), ((471,), -1.0), ((482,), -1.0), ((490,), 1.0), ((503,), 0), ((509,), -1.0), ((512,), 1.0), ((517,), 1.0), ((522,), 1.0), ((527,), 1.0), ((528,), 1.0), ((534,), -1.0), ((558,), 0), ((563,), 1.0), ((566,), 0), ((567,), -1.0), ((580,), 1.0), ((584,), -1.0), ((587,), 0), ((592,), 0), ((596,), -1.0), ((597,), 1.0), ((602,), 1.0), ((609,), 1.0), ((7,), 0), ((10,), 0), ((14,), 0), ((16,), 0), ((20,), 0), ((24,), 0), ((26,), 0), ((28,), 0), ((29,), 0), ((31,), 0), ((37,), 0), ((38,), 0), ((41,), 0), ((44,), 0), ((46,), 0), ((47,), 0), ((51,), 0), ((56,), 0), ((58,), 0), ((67,), 0), ((69,), 0), ((70,), 0), ((71,), 0), ((72,), 0), ((73,), 0), ((74,), 0), ((81,), 0), ((84,), 0), ((86,), 0), ((89,), 0), ((90,), 0), ((98,), 0), ((99,), 0), ((102,), 0), ((104,), 0), ((108,), 0), ((109,), 0), ((110,), 0), ((115,), 0), ((118,), 0), ((123,), 0), ((126,), 0), ((129,), 0), ((131,), 0), ((133,), 0), ((136,), 0), ((142,), 0), ((143,), 0), ((151,), 0), ((152,), 0), ((161,), 0), ((162,), 0), ((168,), 0), ((170,), 0), ((173,), 0), ((174,), 0), ((176,), 0), ((181,), 0), ((185,), 0), ((192,), 0), ((199,), 0), ((203,), 0), ((204,), 0), ((206,), 0), ((210,), 0), ((211,), 0), ((213,), 0), ((214,), 0), ((224,), 0), ((227,), 0), ((231,), 0), ((234,), 0), ((235,), 0), ((241,), 0), ((242,), 0), ((246,), 0), ((251,), 0), ((252,), 0), ((259,), 0), ((261,), 0), ((262,), 0), ((264,), 0), ((268,), 0), ((269,), 0), ((270,), 0), ((277,), 0), ((280,), 0), ((283,), 0), ((286,), 0), ((287,), 0), ((291,), 0), ((293,), 0), ((295,), 0), ((296,), 0), ((299,), 0), ((301,), 0), ((302,), 0), ((308,), 0), ((309,), 0), ((317,), 0), ((321,), 0), ((326,), 0), ((331,), 0), ((335,), 0), ((337,), 0), ((338,), 0), ((340,), 0), ((341,), 0), ((343,), 0), ((348,), 0), ((349,), 0), ((350,), 0), ((351,), 0), ((352,), 0), ((356,), 0), ((362,), 0), ((363,), 0), ((364,), 0), ((365,), 0), ((371,), 0), ((374,), 0), ((377,), 0), ((378,), 0), ((379,), 0), ((384,), 0), ((386,), 0), ((389,), 0), ((396,), 0), ((400,), 0), ((401,), 0), ((402,), 0), ((403,), 0), ((404,), 0), ((405,), 0), ((409,), 0), ((410,), 0), ((412,), 0), ((413,), 0), ((415,), 0), ((416,), 0), ((417,), 0), ((418,), 0), ((419,), 0), ((423,), 0), ((427,), 0), ((433,), 0), ((437,), 0), ((438,), 0), ((440,), 0), ((441,), 0), ((444,), 0), ((445,), 0), ((451,), 0), ((452,), 0), ((454,), 0), ((456,), 0), ((463,), 0), ((464,), 0), ((475,), 0), ((479,), 0), ((486,), 0), ((488,), 0), ((492,), 0), ((497,), 0), ((498,), 0), ((501,), 0), ((513,), 0), ((519,), 0), ((523,), 0), ((524,), 0), ((526,), 0), ((529,), 0), ((533,), 0), ((540,), 0), ((541,), 0), ((542,), 0), ((544,), 0), ((550,), 0), ((551,), 0), ((552,), 0), ((553,), 0), ((564,), 0), ((565,), 0), ((568,), 0), ((569,), 0), ((572,), 0), ((574,), 0), ((575,), 0), ((577,), 0), ((579,), 0), ((583,), 0), ((585,), 0), ((586,), 0), ((588,), 0), ((589,), 0), ((593,), 0), ((594,), 0), ((601,), 0)])

# üìà Build Similarity DataFrame

In [45]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.438529   (91,)
1         0.000000  (177,)
2         0.451243  (219,)
3         0.716115  (274,)
4         0.959271  (298,)

# üéØ Top 50 Most Similar Users

In [46]:
topUsers = pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

     similarityIndex  userId
43               1.0  (132,)
181              1.0  (382,)
219              1.0  (602,)
130              1.0  (130,)
129              1.0  (125,)

# üîÑ Merge with Ratings

In [47]:
#topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
print(topUsers['userId'].dtype)
print(ratings_df['userId'].dtype)
print(topUsers['userId'].unique())  # Check unique values in topUsers
print(ratings_df['userId'].unique())  # Check unique values in ratings_df


#topUsers['userId'] = pd.to_numeric(topUsers['userId'], errors='coerce').astype('Int64')
# Extract the first element from the tuples
topUsers['userId'] = topUsers['userId'].apply(lambda x: x[0])

# Convert to integers if necessary
topUsers['userId'] = pd.to_numeric(topUsers['userId'], errors='coerce').astype('Int64')

ratings_df['userId'] = pd.to_numeric(ratings_df['userId'], errors='coerce').astype('Int64')

print(topUsers['userId'].unique())  # Check unique values in topUsers
print(ratings_df['userId'].unique())  # Check unique values in ratings_df


# Now perform the merge
topUsersRating = topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')


topUsersRating.head()

object
int64
[(132,) (382,) (602,) (130,) (125,) (124,) (119,) (117,) (18,) (112,)
 (105,) (580,) (597,) (76,) (305,) (62,) (609,) (33,) (32,) (144,) (17,)
 (15,) (5,) (525,) (134,) (563,) (528,) (233,) (347,) (399,) (336,) (334,)
 (290,) (279,) (446,) (260,) (254,) (239,) (222,) (221,) (490,) (193,)
 (191,) (187,) (512,) (517,) (178,) (522,) (169,) (527,)]
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504
 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522
 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540
 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558
 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576
 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594
 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610]
<IntegerArray>
[132, 382, 602, 130, 125, 124, 119, 117,  18, 112, 105, 580, 597,  76, 305,
  62, 609,  33,  32, 144,  17,  15,   5, 525, 134, 563, 528, 233, 347, 399,
 336, 334, 290, 279, 446, 260, 254, 239, 222, 221, 490, 193, 191, 187, 512,
 517, 178, 522, 169, 527]
Length: 50, dtype: Int64
<IntegerArray>
[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
 ...
 601, 602, 603, 604, 605, 606, 607, 608, 609, 610]
Length: 610, dtype: Int64

   similarityIndex  userId  movieId  rating   timestamp
0              1.0     132        1     2.0  1157921785
1              1.0     132       17     3.0  1157922698
2              1.0     132       29     2.0  1157924165
3              1.0     132       32     3.0  1329983726
4              1.0     132       34     1.5  1157921395

# üßÆ Weighted Recommendation Score

In [48]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex'] * topUsersRating['rating']
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex', 'weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex', 'sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                       36.0               124.0
2                       18.0                58.0
3                        3.0                11.0
5                        3.0                 8.5
6                       13.0                49.5

# üßæ Final Score and Sorting

In [49]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = \
    tempTopUsersRating['sum_weightedRating'] / tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
3035                                       5.0     3035
1956                                       5.0     1956
2522                                       5.0     2522
2495                                       5.0     2495
2477                                       5.0     2477

# üé¨ Show Final Collaborative Recommendations

In [50]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

,movieId,title,genres,year
1433,1956,Ordinary People,[Drama],1980
1826,2427,"Thin Red Line, The","[Action, Drama, War]",1998
1842,2450,Howard the Duck,"[Adventure, Comedy, Sci-Fi]",1986
1846,2455,"Fly, The","[Drama, Horror, Sci-Fi, Thriller]",1986
1865,2477,Firewalker,[Adventure],1986
1877,2495,"Fantastic Planet, The (Plan√®te sauvage, La)","[Animation, Sci-Fi]",1973
1898,2522,Airport '77,[Drama],1977
2288,3035,Mister Roberts,"[Comedy, Drama, War]",1955
9380,163112,Winnie the Pooh Goes Visiting,[Animation],1971
9382,163386,Winnie the Pooh and the Day of Concern,[Animation],1972